.cards{
    background-color: rgba(241, 244, 245, 0.808);
    /* background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
    /* background-image: url(../../assets/back2.png);
    background-repeat: no-repeat;
    background-size: cover; */
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  
}

@media (max-width:900) {
   .cards{
    height:auto;
   }
    
}
