.hero{
    box-sizing: border-box;
    height: 80vh;
    display: flex;
    background-image: url(../../assets/back2.png);
    background-repeat:no-repeat;
    background-size: cover;
    
}

.picture{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
}

.me{
   max-width: 500px;
}

.intro{
    background-color: transparent;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(3px);
}

.name,.passion{
    margin-top: 0rem;
    margin-bottom:1rem;
}

.name{
    font-size: 3rem;
    font-weight: 500;
    color: red;
}

.passion{
    font-size: 2.3rem;
}

.desc{
    font-size: 1.3rem;
}

@media (max-width:600px) {
    .name{
        font-size: 2rem;
    }
    .desc{
        font-size: 1rem;
    }
    .passion{
        font-size: 1.5rem;
    }
    
}

.connect{
    text-align: center;
}

.connect button{
    background-color: rgb(68, 243, 68);
    text-transform: capitalize;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px 15px;
}