.hero{
    width: 100%;
    height:calc(100vh - 80px);
    background-color: rgba(225, 225, 236, 0.37);
    position: relative;
    margin-top: 20px;
    display: flex;
    background: radial-gradient(rgba(69, 12, 82, 0.603) 10%,rgba(29, 21, 29, 0.459)0%,rgba(75, 19, 80, 0.685)10%,rgb(10, 25, 56));
}

.pic{
    height: 100%;
    width: 50%;
    background-color: transparent;
    position: relative;
}
.mypic{
    position: absolute;
    left: 10%;
    object-fit: cover;
    height: 100%;
    width: 80%;
    
}


.intro{
    background-color:transparent;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 1;
    right: 0;
    padding-left: 10px;
    
}


.connect{
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}



.hero h2,h6,p{
    margin-top: 0;
    margin-bottom: 0.9rem;
}
.hero h2{
    font-size: 3rem;
    color: rgb(228, 30, 162);
  
}
.hero h6{
    font-size: 2em;
    color: rgb(17, 16, 16);
    text-wrap: nowrap;
    overflow: hidden;
    border-right: 2px solid red;
    width: 350px;
    animation: typing 4s steps(20) infinite;
}
.hero p{
    font-size: 1.3em;
}

@keyframes typing {
    from{
        width: 0%;
    }
    to{
        width:350px;
    }
    
}