.hero{
    box-sizing: border-box;
    height: 80vh;
    width: 100%;
    margin: auto;
    display: flex;
    background-image: url(../../assets/back2.png);
    background-repeat:no-repeat;
    background-size: cover;
    margin-top: 3rem;
    border-radius: 25px;
}

.picture{
    width: 40%;
    display: flex;
    justify-content: center;
    
    backdrop-filter: blur(5px);
    animation: transe 2s ease;
}


@keyframes transe {
    from{
        transform: translate(-200px);
    }
    to{

    }
    
}

@media (max-width:600px) {
        .me{
            position: absolute;
            height: 100%;
           
        }
    .intro{
        position: absolute;
        width: 80%;
        left: 20%;
    }

    
}
.me{
   max-width: 500px;
   
}

.intro{
    background-color: transparent;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 2px  2px 5px black;
   
}

.name,.passion{
    margin-top: 0rem;
    margin-bottom:1rem;
}

.name{
    font-size: 3rem;
    font-weight: 500;
    color: red;
}

.passion{
    font-size: 2.3rem;
}

.desc{
    font-size: 1.3em;
    text-transform: capitalize;
}

@media (max-width:600px) {
    .name{
        font-size: 2rem;
    }
    .desc{
        font-size: 1.3rem;
    }
    .passion{
        font-size: 1.5rem;
    }
    
}

.connect{
    text-align: center;
}

.connect button{
    margin-top: 2rem;
    background-color: rgb(68, 243, 68);
    text-transform: capitalize;
    border: none;
    border-radius:10px;
    font-size: 1.2em;
    font-weight: 500;
    padding: 5px 15px;
    animation:breath 2s ease alternate infinite;
    
}
.connect button:hover{
    background-color: rgb(15, 167, 15);
}

@keyframes breath {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
    
}