.navbar{
   background-color: aqua;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px;
   height: 4rem;
   overflow: hidden;
  
}
.navbar .logo:hover{
    background-color: black;
}


.navitems ul{
display: flex;
}

.navitems li{
    list-style-type: none;
    padding: 20px;
}
.navitems a{
    text-decoration: none;
    text-transform: capitalize;
}
.navitems li:hover{
    background-color: white;
    
}


.dropdown{
    position: absolute;
    background-color: rgba(231, 243, 243, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    backdrop-filter: blur(5px);
}
.dropitem{
    background-color: yellow;
    width: 400px;
    height: 300px;
}

.dropdown ul{
    list-style-type: none;
    margin-right:0rem;
}
.dropitem li{
    text-align: center;
    margin-left: 0px;
}

.dropitem a{
    text-decoration: none;
    font-size: 1.4rem;
}

.dropitem li:hover
{
    background-color: white;
}


