


.navbar{
   background-color: rgba(199, 211, 211, 0.767);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px;
   height: 4rem;
   overflow: hidden;
   font-size: 1.4rem;
   position: sticky;
   top: 0;
   z-index: 1;
   box-shadow: 3px 3px 5px black;
  
}
.navbar .logo:hover{
    background-color: black;
}

.navitems{
    display: flex;
}


.navitems ul{
display: flex;
}

.navitems li{
    list-style-type: none;
    padding: 20px;
}
.navitems a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;

}
.navitems li:hover{
    background-color: rgb(236, 240, 47);
    
}

.dropdown{
    position: absolute;
    margin: auto;
    background-color: rgba(238, 238, 238, 0.329);
    width:100%;
    display:none;
    justify-content: center;
    align-items: center;
    height: 100%;
    backdrop-filter: blur(5px);
    top:15%;
    left: 0px;
} 


.dropitem{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    
}

.dropdown ul{
    list-style-type: none;
    margin-right:0rem;
}
.dropitem li{
    text-align: center;
    
    margin-left: 0px;
    padding-bottom: 20px;
}

ul{
    padding-left: 0;
    margin-left: 0;
}

.dropitem a{
    text-decoration: none;
    font-size: 1.4rem;
    width: 100%;
    color: black;
    
}

.dropitem li:hover
{
    width:400px;
    background-color: rgba(202, 191, 191, 0.87);
}

.menu{
    display: none;
}

@media (max-width:800px) {
    .menu {
        display: block;
    }
   .navitems{
    display: none;
   }
    
}

.display{
    display:flex;
    z-index: 1;
}

@media (max-width:900px) {
    .navbar{
        font-size: 1.2rem;
        font-weight: 600;
    }
    
}

.navbar button{
    background-color: transparent;
    border: none;
}

 
