

.caritem{
        width: 270px;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.171);
        border-radius: 20px;
        color: rgb(0, 0, 0);
        backdrop-filter: blur(20px);
        box-shadow: 2px 3px 5px rgb(22, 21, 21);
        text-align: center;
        display: flex;
        justify-content: center;
        transition: 1s ease;
}

.caritem .imgbox{
    height: 220px;
    width: 250px;
    margin: auto;
    background-color:transparent;
    position: absolute;
    top: 10px;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s ease-in;
    object-fit: cover;
    object-position: center;
}

.caritem .imgbox img{
    height: 240px;
    width: 250px;
}

.caritem .content{
    position: absolute;
    top:225px;
    height:70px;
    overflow: hidden;
    transition: 0.5s linear;
    z-index: 1;
}

.caritem:hover .content{
    top:120px;
    height: 220px;
    padding: 0px 5px;
}

.content p{
    text-transform: capitalize;
}
.content h3{
    text-transform: uppercase;
    display: inline;
}


.caritem:hover{
    height: 370px;
    z-index: 1;
}

.caritem:hover  .imgbox{
    top:-100px;
    transform: scale(0.8);
}

.read{
    text-transform: capitalize;
    text-decoration: none;
    color: rgb(27, 27, 243);
    font-weight: 500;
}